examples/basic_config/config.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:complexType name="Config">
    <xsd:sequence>
      <xsd:element name="date" type="xsd:string"/>
      <xsd:element name="number_of_cores" type="xsd:integer"/>
      <xsd:element name="codes">
        <xsd:complexType> <!-- this is a list! -->
          <xsd:sequence>
            <xsd:element name="listitem" type="xsd:integer" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="show_logs" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="Config" type="Config" />
</xsd:schema>
